<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>CreateIndex</servlet-name>
        <servlet-class>com.searchengine.CreateIndex</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateIndex</servlet-name>
        <url-pattern>/CreateIndexAction</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchAction</servlet-name>
        <servlet-class>com.searchquery.SearchAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchAction</servlet-name>
        <url-pattern>/SearchAction</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WebSearch</servlet-name>
        <servlet-class>com.searchquery.WebSearch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebSearch</servlet-name>
        <url-pattern>/WebSearch</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>root-dir</param-name>
        <param-value>
      /Users
   </param-value>
    </context-param>
    <context-param>
        <param-name>web-crawl-dir</param-name>
        <param-value>
      /Users/work/corpora
   </param-value>
    </context-param>
    <context-param>
        <param-name>web-crawl-site</param-name>
        <param-value>
      http://www.english-corpora.org/wiki/
   </param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
